.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* IMAGE */
.cart-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

/* INFO */
.cart-info {
  flex: 1;
}

.cart-info h3 {
  margin: 0;
}

.cart-info p {
  color: gray;
  margin: 5px 0;
}

/* PRICE */
.cart-price {
  text-align: right;
}

.cart-price p {
  color: gray;
}

.cart-price h2 {
  color: #ff6b2c;
}

/* REMOVE */
.remove-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

/* QUANTITY reuse */
.quantity {
  display: flex;
  align-items: center;
  background: #eee;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.quantity span {
  width: 30px;
  text-align: center;
}